services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    environment:
      REDIS_PASSWORD: password
    command: ["redis-server", "--requirepass", "password"]
